<!doctype html>

<html lang="en">
<head>
    <style>
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }

        li {
          display: inline;
        }
    </style>
    <meta charset="utf-8">
    <title>Embedding a Bokeh Server With {{ framework }}</title>
</head>

<body>
    <ul>
      <li><a href="http://localhost:8000">Home</a></li>
      <li><a href="http://localhost:8000/signal">Signal</a></li>
      <li><a href="http://localhost:8000/spectrum">Spectrum</a></li>
    </ul>
    <div>
        This Bokeh app below served by a Bokeh server that has been embedded
        in another web app framework. For more information see the section
        <a  target="_blank" href="https://docs.bokeh.org/en/latest/docs/user_guide/server.html#embedding-bokeh-server-as-a-library">Embedding Bokeh Server as a Library</a>
        in the User's Guide.
    </div>

    {{ script|safe }}
</body>
</html>
